body {
    height: 100vh;
    font-size: 25px;
    color:grey;
    background:linear-gradient(108deg, #ffd6f1,#ffdbe4,#ffd2ec,#f2d1ff,#f5e4ff,#dad3ff);
    animation: anima 30s ease-in infinite;
    background-size: 500% 500%;
    
    
}
* {
    padding: 0;
    margin: 0;
}
:root {
    --pink:#da5072;
    --blue:#7e99f3 ;
}
.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top:20%;
    
    
   
}
.Q1Container {
    justify-content: center;
    width:100%;
    
}
.question1 {
    min-height: 100px;
    background-color: var(--blue);
    text-align: center;
    font-size: 2.3rem;
    height: fit-content;
    display: flex;
    align-items: center;

}


.Q1Container button {
    background-color: white;
    border: none;
    width: 100%;
    padding:1.5em;
    border-left: var(--pink) 5px solid;
    text-align: left;
    margin-bottom: 0.3em;
    
}

.next {
    color:  white;
    background-color: rgb(92, 255, 160);
    border: 2px black solid;
}
.resultBtn {
    display: none;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid black;
    background-color: transparent;
    padding: 25px;
    font-size: 2rem;
    background-size:500% 500%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color:rgb(82, 81, 81);

}
#cut-circ {
    display: none;
    stroke-dasharray: 110;
    stroke-dashoffset: 0;
    width:40%;
    margin: 0 auto;
   
}
.text {
    background-color:whitesmoke;
}
@keyframes anima {
    0% {
        background-position:0 50%
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position:0 50%
    }
}
@-moz-keyframes anima {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
 }
 @-webkit-keyframes anima {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.resultContainer {
    display: none;
    width:90%;
    margin: 0 auto;


}
header {
    
    background-color: rgb(250, 250, 250);
}
.result {
    height: 100%;
    
}
.result h2 {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header,.text {
    font-size: 1.4rem;
    padding:1em 1em 1em 0.5em;
      
}
@media (min-width:900px) {
    .container {
    margin-top: 10%;
    }
}





