
:root {
    --blue:#4765c9;
    --lightBlue:#6380e2 ;
    
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-size: 30px;
    
}

.header {
    width: 100%;
    height: 100%;
    background: linear-gradient(-78deg,#ffffff,#a75a7a,#ffffff);
    background-size: cover;
   
}
nav {
    height: 7%;
    width: 100vw;
    background-color: #4765c9;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 1;
}
nav button {
    width: 30%;
    border-radius: 0.5em;
    background-color: #4b6bd3;
    color: white;
    border:none;
    height: 100%;
    margin-left:0.2em ;

    
}
.slideContainer {
    width: 100%;
   
}
.slider img {
    margin-top: 40%;
    width: 90%;
    height:90%;
    
}
.prev , .next {
    border-radius: 0.5em;
    border: none;
}
/*.tvShows,.random{
    width: 100%;
    border-radius: 0.5em;
    display: flex; 
    
}
.container {
    width: 100%;
    flex-direction: column;
     
}
.container button {
    width: 32%;
    height: 100%;  
}
.container button img{
    width: 100%;
    height: 100%;
    margin-right: 0.6em;
    background: linear-gradient(rgba(0,0,0),rgba(0,0,0),rgba(0,0,0)100%);
}
.container h3 {
    position: relative;
    top: -60%;
    color: white;
    font-size: 1.4rem;
    
}
.homeP {
    width: 100%;
    height: 100%;
    background-color: #4b6bd3;
}
.slideContainer {
    width: 100%;
}
.slider img {
    width: 30px;
    height:100px ;
}

/*#ahsCover {
    background: linear-gradient(rgba(0,0,0.90),(0,0,0,.50),100%);
    background:url('../images/ahs-cover.webp');
    background-size: cover;
}
#chicagoFire {
    background: linear-gradient(rgba(0,0,0.50),(0,0,0,.50),100%);
    background:url('../images/chicago\ fire.png');
    background-size: cover;
}
#oitnb {
    background: linear-gradient(rgba(0,0,0.50),(0,0,0,.50),100%);
    background:url('../images/p-oitnb.webp');
    background-size: cover;

}*/
@media (max-width:600px) {
    .container{
        flex-direction: row;
    }
    .container button {
        width: 80%;
        height: 40%;
    }
}
