
:root {
    --pink:#da5072;
    --blue:#6380e2 ;
    
}

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-size: 30px;
    
    
    
}

.container {
    height: 100vh;
   
    
   /* background: linear-gradient(-78deg,#ffffff,#e4e5e7,#f3f4fd);*/
    background-color: whitesmoke;
   
    
    
   
}
nav {
    height: 8%;
    width: 100vw;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: end;
    position: fixed;
    box-shadow: 0px 0px 15px grey;
    z-index: 1;
    
    
    
}
nav button {
    width: 20%;
    border-radius: 0.5em;
    color: white;
    border:none;
    height: 100%;
    margin-left:0.2em ;
    font-weight: bold;  
}
.abtUsBtn {
    background-color: var(--pink);
}
.homeBtn {
    background-color: var(--blue);
}
.logo {
    background: none;
    color: black;
    font-size: 1.6rem;
    position: relative;
    right: 35%;
    font-family: 'Sacramento', cursive;  
}
.homeP {
    height: 100%;
    
}
h1 {
    position: relative;
    top:8%;
    font-size: 3rem;
    text-align: center;  
}
 
.slideContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
   
}
.slideContainer h2 {
    font-size: 1.5rem;
    position: absolute;
    top:25%;
    width: 80%;
    text-align: center;
    color: white;
    text-shadow: 0px 5px 5px black;
    
    
}
.slider img {
    margin-top: 40px;
    width: 100%;
    height:200px;
    max-width: 800px;
    

     
}
.prev img {
   transform: rotate(180deg); 
}
.prev , .next {
    border-radius: 2em;
    border: none;
    width: 10%;
    position: absolute;
    top: 30%;
   
} 
.next {
    left:90%;
} 
.prev {
    left:0%;
} 
.prev img,.next img {
    width: 100%;
    
}
footer {
    height: fit-content;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--pink);
    padding: 1em;
}
footer div {
    width: 40%;
   
}
@media (min-width:900px) {
    .slideContainer h2 {
        font-size: 3rem;
        width: 50%;
        left:20%;
    }
    .slider img {
        position: relative;
        left: 10%;
        height: 400px;
    }
    .logo {
        font-size: 2rem;
    }
}
